html {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  background: black;
}

.wrapper {
  position: absolute;
  color: white;
  z-index: 1;
  padding: 20px;
}

button {
  width: 120px;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  line-height: 5px;
  border: 1px solid white;
}

button:active {
  background-color: #8d8d8d66;
}

.heading {
  text-align: center;

}

.nav {
  margin: 16px 0px;
}
.nav a {
  color: white;
}

.headshot {
  border-radius: 50%;
  text-align: center;
}

canvas {
  position: fixed;
  top: 0;
}
