@font-face {
  font-family: "Polya";
  src: url('/src/Fonts/POLYA.otf')
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; 
  background-color: #cacaca;
  margin: 0;
  font-family: Polya;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
